@use '../abstracts/variables' as *;

.sprachen-section-container {
    display: flex;
    flex-direction: column;
    margin-block: 10px;
    width: 70%;
  
    .sprachen-eintrag {
      display: flex;
      align-items: center;
      justify-content: center;
  
      .sprachen-level {
        margin: 0.5rem;
        display: flex;
        justify-content: baseline;
      }
    }
  
    button {
      align-self: flex-start;
    }
  
    .sprachen-delete-button {
      align-self: center;
      background-color: white;
    }
  
    .sprachen-add-button {
      align-self: center;
      background-color: white;
    }
  }